* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.row:after {
	content: "";
	display: block;
	clear: both;
}
.row [class*="col-md-"] {
	float: left;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}